body{
    background-color: #A288A6;
    color: rgb(224, 216, 216);
    font-family: Tahoma;
    text-align: center;
}
#validation-link-html img {
    border: 0;
    width: 88px;
    height: 31px;
}

#validation-link-css img {
    border: 0;
    width: 88px;
    height: 31px;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

main{
    text-align: left;
    margin: 0 auto;
}

h2{
    text-align: center;
}
*{
    box-sizing: border-box;
}
img{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(224, 216, 216);
}

#cookie{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(224, 216, 216);
}
figure{
    text-align: center;
    font-style: italic;
}
p{
    text-align: center;
}