<nav>
    <a href="https://webpages.charlotte.edu/jmathe23/">Charlotte.edu</a> |
    <a href="https://github.com/mathewjessica" target="_new">Github</a> |
    <a href="https://mathewjessica.github.io/" target="_new">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/jessicamathew">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/jessicamathew">Codeacademy</a> |
    <a href="https://www.linkedin.com/in/jessica-mathew-9026a9250/">LinkedIn</a>
</nav>
<p>Page Built by <a href="jmdesigns.com/">J.M. Designs</a> &copy; 2024,
    <em>
        Certified in <a href= "https://www.freecodecamp.org/certification/jessicamathew/responsive-web-design" target="_new">Responsive Web Design</a>
    </em> 
    , 
    <em>
        Certified in <a href= "https://www.freecodecamp.org/certification/jessicamathew/javascript-algorithms-and-data-structures-v8" target="_new">JS</a>
    </em>
</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>