<h1>Jessica Mathew's Jolly Mongoose || ITIS 3135</h1>
<nav>
    <a href="index.html">Home</a>
    ||
    <a href="/z_archives/introduction.html">Introduction</a>
    ||
    <a href="/z_archives/contract.html">Contract</a>
    ||
    <a href="/z_archives/about.html">About</a>
    ||
    <a href="/z_archives/tables.html">Tables</a>
    ||
    <a href="/hobby/index.html">Hobby</a>
    ||
    <a href="/z_archives/project_overview.html">Client Project</a>
    ||
    <a href="/client project/index.html">UNCC CCM</a>
    ||
    <a href="/z_archives/review1.html">Peer Review 1</a>
    ||
    <a href="/z_archives/review2.html">Peer Review 2</a>

    <p><i>"For the Love of Cookies, Hold the Sugar!"</i></p>
</nav>
